<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{navbar}">

<head>
    <meta charset="UTF-8">
    <title>Über uns</title>
  <link rel="stylesheet" href=" ../static/css/about.css" th:href="@{/css/about.css}"/>

</head>
<body>
<div layout:fragment="content">
<div class="about-section">
  <h1>Über uns</h1>
  <p>Wir sind drei Studenten. Wir studieren Informatik an der THB</p>
  <p>Frau Ilonka Wolpert hat unser Projekt "Car Sharing THB" betreut .</p>
</div>

<h2 style="text-align:center ; color: white">Unser Team</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Mhd Khaled Al Sabaah</h2>
        <p class="title">frontend</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Alsabaah@th-brandenburg.de</p>
        <p><button class="button">Kontakt</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Jakob Kahf	</h2>
        <p class="title">backend</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Kahf@th-brandenburg.de</p>
        <p><button class="button">Kontakt</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Sebastian Giertzsch	</h2>
        <p class="title">datenbank</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Giertzsch@th-brandenburg.de</p>
        <p><button class="button">Kontakt</button></p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>