<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
  <link rel="stylesheet" href=" ../static/css/about.css" th:href="@{/css/about.css}"/>

</head>
<body>
<div class="about-section">
  <h1>Über uns</h1>
  <p>Wir sind drei Studenten. Wir studieren Informatik an der THB</p>
  <p>Frau Ilonka Wolpert hat unser Projekt "Car Sharing THB" betreut .</p>
</div>

<h2 style="text-align:center">Unser Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Khaled" style="width:100%">
      <div class="container">
        <h2>Mhd Khaled Al Sabaah</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Alsabaah@th-brandenburg.de</p>
        <p><button class="button">Kontakt</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Jakob kkkkkkkk" style="width:100%">
      <div class="container">
        <h2>Jakob Kahf	</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Kahf@th-brandenburg.de</p>
        <p><button class="button">Kontakt</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="Sebastian" style="width:100%">
      <div class="container">
        <h2>Sebastian Giertzsch	</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Giertzsch@th-brandenburg.de</p>
        <p><button class="button">Kontakt</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>