<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{navbar}">
  <head>
    <meta charset="UTF-8">
    <title>Hinzufügen eines Autos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/singup.css" th:href="@{/css/signup.css}"/>
  </head>
  <body>
  <div layout:fragment="content">

  <div th:if="${Message != null}" class="col-md-12" align="center">
    <div class="alert alert-danger" role="alert" id ="alert-custom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong th:text="${Message}"/>
    </div>
  </div>
    <div class="container">
      <div class="formcar">
        <div class="rowoben">
          <h2>Hinzufügen eines Autos</h2>
          <form th:action="@{addcarform}" method ="post">
          <div class="input-group input-group-icon">
            <input type="text" minlength="2" required="required" placeholder="Marke und Modell" name = "model" />
            <div class="input-icon"><i class="fa fa-envelope"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="number" required="required" placeholder="Price" min="0" name = "preisPerHour"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="number" step="any" required="required"  min="-90" max="90" placeholder="xCoordinates" name = "xCoordinates"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="number" step="any" required="required"  min="-180" max="180" placeholder="yCoordinates" yCoordinates name = "yCoordinates"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="number"  id ="yearBuilt" min="2000" max="3000" required="required" placeholder="Herstellungsjahr" name = "yearBuilt"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>

            <select name="carColor"required="required" >
              <option value="" disabled selected hidden>
                Autofarbe
              </option>
                <option th:each="colorOpt : ${T(de.thb.carsharing.entity.Type.CarColor).values()}"
                        th:value="${colorOpt}" th:text="${colorOpt}"></option>
              </select>

            <select name="fuelType" required="required" >
              <option value="" disabled selected hidden>
                Kraftstoffart
              </option>
             <option th:each="fuelType : ${T(de.thb.carsharing.entity.Type.FuelType).values()}"
                     th:value="${fuelType}" th:text="${fuelType}"></option>
           </select>


            <div class="form-check">
              <label class="form-check-label" for="flexCheckDefault">
                Automatik
              </label>
              <input style="margin-left: -580px ;
                     transform: translatey(-32px) "class="form-check-input" type="checkbox"  id="flexCheckDefault" name= "automatic">


            </div>

          <form th:action=" @{/}">

            <div class="add"><input type="submit" value="Speichern" /></div>

          </form>
        </form>
      </div>
    </div>
    </div>
  <script>
    document.getElementById("yearBuilt").setAttribute("max", new Date().getFullYear());
  </script>

  </div>

  </body>
</html>
