
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{navbar}">
<head>

    <link rel="stylesheet" href=" ../static/css/bookingdetails.css" th:href="@{/css/bookingdetails.css}"/>

    <meta charset="UTF-8">



<body>
<div layout:fragment="content">

<div class="container">

    <h1> Buchung</h1>
    <h2 th:if="not ${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).CANCELLED}"> Sie
        haben das folgende Auto gebucht:</h2>
    <h2 th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).CANCELLED}"> Die Buchung wurde
        Storniert</h2>

    <section class="cs-booking" id="cs-booking">
        <h3 class="cs-car-brand" th:text="${booking.car.model}">VW</h3>
        <h2 class="cs-color" th:text="${booking.car.carColor}">RED</h2>
        <p class="cs-address" id="address">Brandenburg</p>
        <p class="cs-color"  th:text=" ${#numbers.formatDecimal(booking.car.pricePerHour,2,2,'COMMA')} + ' € je Stunde'">0.00</p>

    </section>

    <div th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).FINISHED}">
        <h3 > Sie habe die Buchung erfolgreich abgeschlossen, Ihre Buchungskosten ist:  </h3>
        <h3  th:text=" ${#numbers.formatDecimal(booking.cost,2,2,'COMMA')} + ' €'">0.00> </h3>
        <h3>Wir freuen uns auf Ihren nächsten Besuch!</h3>
    </div>


    <h1 th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).BOOKED}">
        <span id="m"></span>
        <span id="d"> </span>
        <span id="s"></span>
    </h1>
    <h1 th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).STARTED}">
        <div id="timer"></div>
    </h1>

    <h2 th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).BOOKED}">
        <span id="info"> Sie haben 15 Minuten um das Auto zu öffnen</span>
    </h2>
    <form th:action="@{/startbooking (id=${booking.id})}" th:object="${booking}" method="post">
        <button type="submit" th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).BOOKED}"
                id="opencar">Jetzt öfnnen
        </button>
    </form>
    <input th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).STARTED}"
           th:onclick="'finishBooking()'" id="closecar" type="button" value="Jetzt schließen">

    <!--    <form th:action="@{/addbooking (carid=${car.id})}" th:object="${car}" method="post">-->
    <button th:if="${booking.bookingStatus == T(de.thb.carsharing.entity.Type.BookingStatus).BOOKED}"
            id="stornoButton">Jetzt stornieren
    </button>
    <!--    </form>-->

</div>
<script th:inline="javascript">
    let bookingidJs = [[${booking.id}]];
    let bookingXcJs = [[${booking.car.XCoordinates}]];
    let bookingYcJs = [[${booking.car.YCoordinates}]];
    let bookingBookTimeHHJs = [[${booking.bookTime.hours}]];
    let bookingBookTimeMMJs = [[${booking.bookTime.minutes}]];
    let bookingBookTimeSSJs = [[${booking.bookTime.seconds}]];
    let bookingStartTimeJs = [[${booking.StartTime}]];
</script>

<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!--<script src="../static/js/notifications.js" th:src="@{/js/notifications.js}"></script>-->
<script type="text/javascript" src="../static/js/bookingdetails.js" th:src="@{/js/bookingdetails.js}"></script>

</div>

</body>
</html>