<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <link rel="stylesheet" href=" ../static/css/signup.css" th:href="@{/css/signup.css}"/>
      <meta charset="UTF-8">
    </head>
  <body>
  <div class="container">
    <div class="rowoben-login">
      <h1>Anmelden</h1>
      <form th:action="@{/login}" method="post" class="card-text needs-validation" novalidate>

      <div th:if="${success}" class="alert alert-success" role="alert"></div>

      <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Benutzername/E-Mail oder Passwort ist falsch.
      </div>

        <div class="input-group input-group-icon">
        <input type="text" placeholder="Benutzername/E-Mail" id="username" name="username" class="form-control" required tabindex="1" autofocus />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>

        <div class="input-group input-group-icon">
        <input type="password" placeholder="Kenntwort" id="password" name="password" class="form-control" required tabindex="2" />
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>

        <div class="add"><input type="submit" value="Anmelden" /></div>
        <p>Sie haben kein Konto? Sie können ein erstellen! <a href="SingUp.html">Signup</a></p>
    </form>
    </div>
  </div>
  </body>
</html>
