<!DOCTYPE html>
<html>
<head>
    <title>Meine Buchung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=============================================================================================-->
    <link rel="stylesheet" href=" ../static/css/mybooking.css" th:href="@{/css/mybooking.css}"/>

    <!---->

</head>
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Datum</th>
                        <th class="column2">Startzeit</th>
                        <th class="column3">Endzeit</th>
                        <th class="column4">Buchungsstatus</th>
                        <th class="column5">Auto Model</th>
                        <th class="column6">Kosten</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="column1">2017-09-29 </td>
                        <td class="column2">11:13</td>
                        <td class="column3">12:30</td>
                        <td class="column4">Aktiv</td>
                        <td class="column5">Audi</td>
                        <td class="column6">30 $</td>
                    </tr>
                    <tr>
                        <td class="column1">2017-09-28 </td>
                        <td class="column2">12:32</td>
                        <td class="column3">14:32</td>
                        <td class="column4">Aktiv</td>
                        <td class="column5">Opel</td>
                        <td class="column6">43 $</td>
                    </tr>
                    <tr>
                        <td class="column1">2017-09-26 </td>
                        <td class="column2">22:21</td>
                        <td class="column3">23:12</td>
                        <td class="column4">Fertig</td>
                        <td class="column5">BMW</td>
                        <td class="column6">23 $</td>
                    </tr>
                    <tr>
                        <td class="column1">2017-09-25 </td>
                        <td class="column2">14:23</td>
                        <td class="column3">16:22</td>
                        <td class="column4">Fertig</td>
                        <td class="column5">Audi</td>
                        <td class="column6">23 $</td>
                    </tr>
                    <tr>
                        <td class="column1">2017-09-24 </td>
                        <td class="column2">9:21</td>
                        <td class="column3">10:22</td>
                        <td class="column4">Fertig</td>
                        <td class="column5">Ford</td>
                        <td class="column6">24 $</td>
                    </tr>
                    <tr>
                        <td class="column1">2017-09-23 </td>
                        <td class="column2">11:21</td>
                        <td class="column3">12:21</td>
                        <td class="column4">Aktiv</td>
                        <td class="column5">Opel</td>
                        <td class="column6">32 $</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!--===============================================================================================-->

</body>
</html>