<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto</title>
</head>
<body>
<h1 th:text="${car.model}"></h1>
<ul>
    <span th:text=" 'ID: '+ ${car.id}"> </span><br />
    <span th:text="'YearBuilt: '+${car.yearBuilt}"> </span><br />
    <span th:text="'XCoordinates: '+${car.XCoordinates}"> </span><br />
    <span th:text="'YCoordinates: '+${car.YCoordinates}"> yCoordinates: </span><br />
    <span th:if="${car.open}">car is open<br></span>
    <span th:unless="${car.open}">car is not open<br></span>
    <span th:if="${car.available}">car is Available<br></span>
    <span th:unless="${car.available}">car is not Available<br></span>
</ul>
<form th:action=" @{/cars}">
<button type="submit" > Zurück!</button>
</form>
</body>
</html>