<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/logon.css" />
  </head>
  <body>
    <div class="container main">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center title">
          <h1>Willkommen bei THB Car Sharing</h1>/
          <div class="bar"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 form">
          <h2>Login</h2>
          <input type="text" name="username" placeholder="Username" /><br />
          <input type="password" name="password" placeholder="Passwort" /><a
          <div class="Anmeldung"><input type="submit" value="Anmeldung" /></div>
          <h4>
            Sie haben kein Konto? Sie können ein erstellen!<span
              ><a class="btn btn-default signup" href="#0">Signup</a></span
            >
          </h4>
        </div>
      </div>
    </div>
  </body>
</html>
