.container {
  background: rgba(177, 199, 168, 0.7);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  width: 700px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  height: 700px;
}
.container input {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #000000;
  display: block;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 60%;
}
.Anmeldung input {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgb(0, 0, 0);
  display: block;
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  margin: 20px 10px 5px 22px;
}
body {
  background-attachment: fixed;
  background-image: url('../images/background_car.jpg');
  background-size: cover;
}
.signup {
  border: solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  display: table;
}
